* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow: auto;
  margin :0;
}
.text-align {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.montserrat {
   font-family: 'Montserrat', sans-serif;
}
.lato {
font-family: 'Lato', sans-serif;
}

 header {
   position: fixed;
   background: #2c3e50;
   width: 100%;
   height: 107px;
 }
.links {
  /*outline: 1px solid red ;*/
  margin-right: 100px;
  float: right;
  margin-top: 32px;
  }
.principal {
  margin-left: 70px;
  position: absolute;
  margin-top: 32px;
}

.principal a {
   font-size: 32px;
   color: white;
 }
 .links li a {
   float: right;
   font-size: 17px;
   color: white ;
   padding-right: 11px; /*espacio entre palabras*/
 }
 .links li {
   /*outline: 1px solid blue;*/
   display: inline-block;
   margin-top: 10px;
 }
 #first-container {
   background: #18bc9c ;
   margin-top: 105px;
   height: 686px;
 }
.image {
  margin-top: 98px;
}

.tittles {
  margin-top: 30px;
  color : white ;
  font-size: 30px;
}
#start::after {
  content: " ";
  display: inline-block;
  width: 103px;
  height: 5px;
  background: white;
  margin: 14px 8px;
  border-radius: 6px;
}
#start::before {
  content: " ";
  display: inline-block;
  width: 103px;
  height: 5px;
  background: white;
  margin: 14px 8px;
  border-radius: 6px;
}

.subtittle1 {
  font-size: 75px;
}
.tittles span {
  display: block;
  margin: 9px;
}
.subtittle2 {
  font-size: 28px;
}
#portfolio {
  /*outline: 2px solid black;*/
  margin-top: 100px;
  margin-right: 78px ;
  margin-left: 78px;
  box-sizing: border-box;
  font-size: 34px;
  width: 1150px;
  color: #212529 ;
}

#start2::after {
  content: " ";
  display: inline-block;
  width: 150px;
  height: 5px;
  background: #2c3e50;
  margin: 14px 10px;
  border-radius: 6px;
}
#start2::before {
  content: " ";
  display: inline-block;
  width: 150px;
  height: 5px;
  background: #2c3e50;
  margin: 14px 8px;
  border-radius: 6px;
}
#siximages {
/*outline: 1px solid red;*/
}

.six1 {
width: 347px;
height: 252px;
margin: 14px;
}
.six2 {
margin: 14px;
width: 347px;
height: 252px;
}
#information {
  background-color: #18bc9c;
  height: 576px;
  color: white;
  text-align: center;
  margin-top: 129px;
  display: block;
}
h2 {
  margin-top: 110px;
  font-size: 43px;
  display: block;
}
.paragraph {
  display: block;
  margin-left: 200px;
  text-align: left;
}
.paragraph1 {
  outline: 1px solid black;
  height: 166px ;
  font-size: 20px;
  width: 342px;
  display: block;
  margin: 5px;

}
.paragraph2 {
  outline: 1px solid purple;
  height: 166px;
  font-size: 20px;
  width: 342px;
  display: block;
  margin: 5px;
}
