* {
  box-sizing: border-box;
  text-decoration: none; /*para quitar la apariencia de enlace a todos los elementos que añada*/
  list-style: none; /*quitar la apariencia de lista*/
  overflow: auto;
  margin :0;
}
.text-align {
  text-align: center; /*para que se centre los elementos que escoja*/
}
.text-uppercase { /*se volverán en mayuscula los elementos que elija*/
  text-transform: uppercase;
}
.montserrat {
   font-family: 'Montserrat', sans-serif;
}
.lato {
font-family: 'Lato', sans-serif;
}

 header {
   position: fixed;
   background: #2c3e50;
   width: 100%;
   height: 107px;
 }
.links {
  /*outline: 1px solid red ;*/
  margin-right: 100px;
  float: right;
  margin-top: 32px;
  }
.principal { /* letras grandes del menu*/
  margin-left: 70px;
  position: absolute;
  margin-top: 32px;
}

.principal a {
   font-size: 32px;
   color: white;
 }
 .links li a {
   float: right;
   font-size: 17px; /*tamaño de la letra*/
   color: white ;
   padding-right: 11px; /*espacio entre palabras*/
 }
 .links li {
   /*outline: 1px solid blue;*/
   display: inline-block;
   margin-top: 10px;
 }
 #first-container {
   background: #18bc9c ; /*color de fondo */
   margin-top: 105px;
   height: 686px;
 }
.image {
  margin-top: 98px;
}

.tittles {
  margin-top: 30px;
  color : white ;
  font-size: 30px; /*tamaño de la letra*/
}
#start::after { /*linea de la estrella*/
  content: " ";
  display: inline-block;
  width: 103px;
  height: 5px;
  background: white; /*color de la linea de la estrella*/
  margin: 14px 8px;
  border-radius: 6px; /*estetica*/
}
#start::before { /*linea de la estrella*/
  content: " ";
  display: inline-block;
  width: 103px;
  height: 5px;
  background: white; /*color de la linea de la estrella*/
  margin: 14px 8px;
  border-radius: 6px;
}

.subtittle1 {
  font-size: 75px;
}
.tittles span {
  display: block;
  margin: 9px;
}
.subtittle2 {
  font-size: 28px; /*tamaño de la letra*/
}
#portfolio {
  /*outline: 2px solid black;*/
  margin-top: 100px;
  margin-right: 78px ;
  margin-left: 78px;
  box-sizing: border-box;
  font-size: 34px;
  width: 1150px;
  color: #212529 ;
}

#start2::after { /*linea de la estrella*/
  content: " ";
  display: inline-block;
  width: 150px;
  height: 5px;
  background: #2c3e50; /*color de la linea de la estrella*/
  margin: 14px 10px;
  border-radius: 6px; /*estetica*/
}
#start2::before { /*linea de la estrella*/
  content: " ";
  display: inline-block;
  width: 150px; /*ancho de la linea de la estrella*/
  height: 5px;
  background: #2c3e50;
  margin: 14px 8px;
  border-radius: 6px;
}
#siximages {
/*outline: 1px solid red;*/
}

.six1 { /*primera fila de imagenes*/
width: 347px;
height: 252px;
margin: 14px;
}
.six2 { /*segunda fila de imagenes*/
margin: 14px;
width: 347px;
height: 252px;
}
#information {
  background-color: #18bc9c;
  height: 576px;
  color: white;
  text-align: center;
  margin-top: 129px;
  display: block;
}
h2 {
  margin-top: 110px;
  font-size: 45px; /*tamaño de la letra*/
  display: block;
}

.paragraph {
  margin-left: 249px;
  margin-right: 249px;
  column-count: 2;
  line-height: 30px;
  margin-top: 15px;
}
.paragraph1 {
  /*outline: 1px solid black;*/
  height: 180px ;
  font-size: 20px;/*tamaño de la letra*/
  width: 360px;
  text-align: left; /*para que los parrafos se alineen a la izquierda*/

}
.paragraph2 {
  /*outline: 1px solid purple;*/
  height: 163px;
  font-size: 20px; /*tamaño de la letra*/
  width: 364px;
  text-align: left; /*para que los parrafos se alineen a la izquierda*/
}
.download{
  width: 215px; /*tamaño del cuadro*/
  height: 55px;
  border-radius: 5px; /*añadiendo borde redondo*/
  border: 3px solid white ; /*grueso y color del borde */
  color: white; /*color de letra*/
  background-color: #18bc9c;
  font-size: 20px; /*tamaño de letra*/
  display: inline-block;
  margin-top: 29px; /*para separarlo de los parrafos*/
}
.download i {
  margin-top: 10px; /* para separarlo del borde*/
}
.download:hover { /*agregando animacion*/
  background-color: white;
  color:  #18bc9c ;

}
#contact {
  height: 795px;
  margin-top: 112px; /*separacion con la anterior seccion*/
  }
.tittle3 {
  text-align: center;  /*letras al centro*/
  font-size: 32px; /*tamaño de letra*/
  color: #212529 ;
}

.forms {
  box-sizing: border-box;
  text-align: left;  /*enviar las lineas hacia la izquierda*/
  padding-left: 280px; /*separarlo del margen*/
}
hr {
  margin-left: 0px ;
  margin-top: 25px;
  margin-right: 200px;
  height: 0.5px;
  background: #868e96; /*color*/
  opacity: 0.2;
}
input {
    margin-top: 20px;
    width: 733px;
    font-size: 26px;
    border-style: hidden; /*esconder el estilo del borde*/
    color: #868e96;  /*color*/
}

button {
  background-color: #18bc9c ;  /*color*/
  width: 79px;
  height: 47px;
  color: white;
  font-size: 21px;
  border-style: none;
  border-radius: 5px;
  margin-top: 125px;
}
#footercontainer {
  width: 619px;
  height: 342px;
  background-color: #2c3e50 ;
  display: inline;
  color: white;
}
.location {
  text-align: center;
}
.around {
  text-align: center;

}
.about-free {
    text-align: center;
    float: right;
}
.final  {
  text-align: center;
}
